<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=f86fe121-6a77-44fb-b137-a3820067b6f2.sqlserver.sequelizer.com;Database=dbf86fe1216a7744fbb137a3820067b6f2;User ID=dzhhcytdialnksmm;Password=f7iAGKHGJVattBbpTza7eferBqtDx3SC2qvyFeYFuSPs7BW27mT8QEya2Z7qqdiQ;"/>
  </connectionStrings>
</configuration>